body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
#nav {
  position: fixed;
  top:0px;
  width: 100%;
  background-color: rgba(0, 0, 0,0.8);
  text-align: center;
  font-size: 20px;
  z-index : 1;
  color: white;
  text-transform: uppercase;
  font-family: helvetica;

}

#title {
  text-align: center;
  top: 100px;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
}

ul {
  margin-right: 35px;
}

.list-social {
  margin-right: 5px;
}

#inline {
  display: inline-block;
  margin-right: 60px;
}

.contact {
  border: 1px solid black;
  position: relative;
  left: 650px;
  width: 150px;
  height: 30px;
  line-height: 2;
  background-color: black;

}

header {
  position: relative;
  height: 400px;
  top:29px;
  background: url("juan267.github.io/img/congruent_pentagon.png")
}

/* Content */

.container {
width: 1160px;
margin-right: auto;
margin-left: auto;
}

.container h1 {
text-align: center;
position: relative;
top:40px;
}

.container p {
text-align: center;
position: relative;
top:40px;
font-size: 30px;
}

#content {
  position: relative;
  margin:0 auto;
  width:900px;
  height: 600px;
  padding: 0;
  top:100px;
  border: 2px solid black;
  background-size: 100%,



}

 #about-me img {
  position: relative;
  top: 150px;
  left: 280px;
  border-radius: 20px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: 100%;
}

.container #lower {
  border-top: 5px solid rgba(255, 255, 255, 0.75);
  width: 30%;
  position: relative;
  top:60px;
  background-color: black;
}

.container #left {
  position:relative;
  border-top: 5px solid rgba(255, 255, 255, 0.75);
  width: 30%;
  left: -300px;
  background-color: black;

}

.container #right {
  position:relative;
  border-top: 5px solid rgba(255, 255, 255, 0.75);
  width: 30%;
  left: 300px;
  top:75px;
  background-color: black;

}


#about-me {
  position: relative;
  height: 990px;
  /*background-color: blue;*/
  top:0px;
  background: url("/Users/jorgegomez/Documents/DBC/juan267.github.io/img/brickwall.png")

}

#about-me  p {
  color: black;
}

#projects {
  position: relative;
  height: 990px;
  background-color: yellow;
  top:-18px;
  background: url("/Users/jorgegomez/Documents/DBC/juan267.github.io/img/congruent_outline.png")
}

#projects table {
  position: relative;
  top:200px;
  margin: 0 auto;
  height: 400px;
  width: 400px;
}

#projects table img {
  height: 400px;
  width: 400px;
  border-radius: 30px;
  padding: 20px;
}

#projects h1, p {

  color: white;
  font-size: 40px;
}




#blog {
  position: relative;
  height: 990px;
  background-color: black;
  top:-55px;
  background: url("/Users/jorgegomez/Documents/DBC/juan267.github.io/img/pixeltokyo.jpeg")
}

#blog h3, p {
  color: white;
}

#blog a {
  color:#ffffff
}



.container-b {
width: 1160px;
margin-right: auto;
margin-left: auto;
background-color:rgba(1, 45, 49, 0.7);
text-align: center;
position: relative;
top:200px;
text-align: center;
font-size: 30px;
}



footer {
  position: relative;
  top:-80px;
  bottom: 0px;
  height: 150px;
  background: url("/Users/jorgegomez/Documents/DBC/juan267.github.io/img/grey_wash_wall.png")
}

.footer {
  text-align: center;

}

hr.separator {
border-top: 5px solid rgba(255, 255, 255, 0.75);
width: 30%;
}
